
canvas {
  display: block;
}

html, body {
  margin: 25px;
  /*background-color: #ce3635;*/
  background-color: #A293FF;
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 14px;
  overflow: hidden; 
}

h1 {
  position: absolute;
  width: 800px;
  height: 100px;
  left: 70px;
  top: 0px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 141px;
  /* identical to box height */

  letter-spacing: -0.05em;

  color: #FFFFFF;
}

h2{
  position: absolute;
  width: 800px;
  height: 76px;
  left: 99px;
  top: 135px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 76px;
  letter-spacing: -0.05em;

  color: #FFFFFF;
}

h3{
  width: 60px; 
  height: 60px; 
  font-size: 45px; 
  color: #FFFFFF;
  padding-left: 45px;
}

p {
  font-size: 30px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 100px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: -0.05em;
  left:99px; 

  color: #FFFFFF;

  background: rgba(87, 73, 174, 0.37);
}

a {
  color: black;
  text-decoration: none;
  display: inline-block; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: white;
  text-align: center;
}


indexbutton{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  /* identical to box height */
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: -0.05em;
  height: 75px; 
  left:99px; 

  color: #FFFFFF;

  background: rgba(87, 73, 174, 0.37);

}

indexbutton:hover{
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.parent {
  width:730px;
  height:120px;
  position: absolute;
  top:170px; 
  left:770px;
  text-align: center;
  align-content: center;
}
 
.child {
  position: absolute;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -90px);
}

.stars {
  visibility: hidden;
  left: 840px; 
  bottom:0px; 
  position:absolute; 
  width: 188px; 
  height: 210px; 
  z-index: 0;
}

.stars.animated {
  visibility: visible;
  overflow: auto;
  left: 840px; 
  position:absolute;
  bottom:0px;
  animation: fadein 1.5s ease;
  
}
/*
@keyframes fadein {
  0%   {bottom: -220px;}
  25%  {bottom: -100px;}
  50%  {bottom: 0px;}
  75%  {bottom: -100px;}
  100% {bottom: -220px;}
}*/